.cardHover {
  animation: FadeIN 0.8s ease forwards;
}
@keyframes FadeIN {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
.cardContaienr {
  &:hover {
    animation: HoverIN 0.5s ease forwards;

    filter: drop-shadow(0 -1mm 2mm gray);
  }
}
@keyframes HoverIN {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.05;
  }
}
